// COLORS
:root {
  --color-body: #e1eefd;
  //--color-body: #97c5f6;
  --color-background: rgba(10, 25, 39, 0.4);
  --color-background-text: #8cb4d4;
  --color-footer: rgb(10, 25, 39);
  --color-black: #000;
  --color-white: #fff;
  --color-green: #2a862a;
  --color-title: #e6d0d0;
  //--color-title: #a19696;
}
